{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'w3.css' %}">
</head>
<body class="w3-container">
    <h1 class="w3-teal">Index Hello World!</h1>
    <div>
        <img src="{% static 'img/django30.png' %}">
    </div>
    <p>BASE_DIR = {{base_dir}}</p>
    <p>ANO = {{year}}</p>
</body>
</html>